<header class="main-nav-container">
  <img
    src="https://cdn0.iconfinder.com/data/icons/stroke-ball-icons-2/633/02_Soccer-512.png"
    alt="logo"
    class="logo"
  />
  <h1 class="shop-name">Shopapa</h1>
  <nav class="main-navbar">
    <ul>
      <li class="desktop-show">
        <input
          type="search"
          class="site-search-desktop"
          name="q"
          placeholder="Search the website"
        />
      </li>
      <li class="nav-link">
        <app-button text="Login" color="isPrimary"></app-button>
      </li>
    </ul>
  </nav>
</header>

<app-breadcrumbs></app-breadcrumbs>
