.icon-button {
  position: absolute;
  top: 40%;
  z-index: 99;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: white;
  padding: 12px 16px;
  font-size: 20px;
  cursor: pointer;
  }

  .icon-button:hover{
    animation: color 200ms forwards;
  }