<article class="product-list">
  <h2>Products</h2>
  <div class="btn-container">
    <button (click)="openAddProductModal()" type="button">Add New Product</button>
  </div>

  <app-delete-modal
    *ngIf="isDeleteProductModalOpen"
    [productToDelete]="productInModal"
    (closeModal)="closeDeleteModal()"
    (confirmDelete)="deleteProduct($event)"
  >
  </app-delete-modal>

  <app-add-product-modal
    *ngIf="isAddProductModalOpen"
    (closeAddProductModal)="closeAddProductModal()"
    (addProduct)="addProduct($event)"
  >
  </app-add-product-modal>

  <app-edit-product-modal
    *ngIf="isEditProductModalOpen"
    [productToUpdate]="productInModal"
    (closeModal)="closeEditModal()"
    (editProduct)="editProduct($event)"
  >
  </app-edit-product-modal>

  <div class="product-cards-container">
    <app-product-card
      *ngFor="let product of products$ | async; trackBy: trackByFn"
      [product]="product"
      (openDelete)="openDeleteModal($event)"
      (openEdit)="openEditProductModal($event)"
    ></app-product-card>
  </div>
</article>
