<article class="carousel">
  <h2>Customer's choice</h2>
  <div class="carousel-container">
    <button
      type="button"
      class="icon-button"
      id="previous"
      (click)="moveLeft()"
    >
      prev
    </button>

    <div #cardsContainer class="cards-container">
      <section
        *ngFor="let item of items; let i = index"
        [ngClass]="'product-card-carousel'"
      >
        <a [href]="item.link">
          <div class="carousel-img-container">
            <img
              [src]="item.photoUrl"
              alt="product-photo"
              class="carousel-img"
            />
            <p class="carousel-data-container">{{ item.text }}</p>
          </div>
        </a>
      </section>
    </div>

    <button type="button" class="icon-button" id="next" (click)="moveRight()">
      next
    </button>
  </div>
</article>
