.modal-body {
  min-height: 150px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.modal-btn-container {
  display: flex;
  width: 50%;
  justify-content: space-around;
  margin: 30px auto;
  align-items: center;
}

.modal-btn-container button {
  width: 40%;
}
