<div class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <button
        (click)="closeDeleteModal()"
        type="button"
        class="close-button icon-button icon-button--white"
      >
        Close
      </button>
    </div>
    <div class="modal-body">
      <p>
        Are you sure you want to delete {{ productToDelete.name | titlecase }}?
      </p>
      <div class="modal-btn-container">
        <button
          (click)="deleteProduct()"
          class="styled-button styled-button--action"
          id="delete-product"
        >
          Yes
        </button>
        <button class="styled-button styled-button--danger close-button">
          No
        </button>
      </div>
    </div>
  </div>
</div>
