<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="product-name">Product Name:</label>
    <input formControlName="name" type="text" id="product-name" />
  </div>
  <div class="form-control">
    <label for="photo-url">Photo Url:</label>
    <input formControlName="photoUrl" type="url" id="photo-url" />
  </div>
  <div class="form-control">
    <label for="product-price">Price:</label>
    <input
      formControlName="price"
      type="number"
      id="product-price"
      step="0.01"
    />
  </div>
  <div class="form-control">
    <label for="product-description">Description:</label>
    <textarea
      formControlName="productDescription"
      id="product-description"
      rows="4"
    ></textarea>
  </div>
  <fieldset class="form-control">
    <legend>Display in Carousel?</legend>
    <div>
      <input
        formControlName="flagged"
        type="checkbox"
        id="display-in-carousel"
        value="true"
      />
      <label for="display-in-carousel">Yes</label>
    </div>
  </fieldset>
  <button [disabled]="productForm.invalid" type="submit">Add Product</button>
</form>
