.breadcrumbs-navbar {
  ul {
    width: 50%;
    margin: 15px auto 45px auto;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-bottom: 7px;

    li {
      border-bottom: 2px solid rgba(172, 172, 235, 0.712);
      font-weight: bold;
      :hover {
        border-bottom: 2px solid rgba(190, 89, 128, 0.712);
      }
      a {
        color: rgba(190, 89, 128, 0.712);
      }
    }
  }
}
